<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.muhammedmercan.ykshelper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YKSHelper">
        <activity android:name="com.muhammedmercan.ykshelper.CalculatedResults"></activity>
        <activity
            android:name="com.muhammedmercan.ykshelper.ExamActivity"
            android:label="Deneme Takip" />
        <activity
            android:name="com.muhammedmercan.ykshelper.SubjectActivity"
            android:label="Konu Takip" />
        <activity
            android:name="com.muhammedmercan.ykshelper.RobotActivity"
            android:label="Tercih Robotu" />
        <activity
            android:name="com.muhammedmercan.ykshelper.CalculateActivity"
            android:label="Puan ve Sıralama Hesaplama" />
        <activity android:name="com.muhammedmercan.ykshelper.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>