<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.muhammedmercan.ykshelper" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.YKSHelper" >
        <activity
            android:name=".ShowDetailOfDepartment"
            android:exported="true" />
        <activity
            android:name=".ExamActivity"
            android:label="Deneme Takip" />
        <activity
            android:name=".SubjectTrackerActivity"
            android:label="Konu Takip" />
        <activity
            android:name=".RobotActivity"
            android:label="Tercih Robotu" />
        <activity
            android:name=".CalculateActivity"
            android:label="Puan ve Sıralama Hesaplama" />
        <activity
            android:name=".CalculatedResults"
            android:label="Hesaplama Sonuçları" />
        <activity
            android:name=".showResultOfSearchActivity"
            android:label="Arama Sonuçları" />
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>